.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 8px !important;
}

.container{
    display: flex;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding:8px !important;
    width: 12.5em!important;
}