.container{
    display: grid;

}

.grid_1{
    display: grid;
    grid-template-columns: repeat(4,100px);
    justify-content: space-evenly;
    row-gap: 10px;
}

.grid_3{
    display: grid;
    grid-template-columns: repeat(4,100px);
    justify-content: space-evenly;
    row-gap: 10px;
}

.grid_2{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 5px !important;
}

input#outlined-basic{
    padding: 5px !important;
}

h3{
    text-align: center;
}


.css-qiwgdb.css-qiwgdb.css-qiwgdb{
    padding: 5px !important;
}

.css-mwzhhv-MuiFormControl-root-MuiTextField-root{
    width: 11.5rem !important;
}
.css-rho0xo-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    width: 11.5rem !important;
}

h1{
    text-align: center;
}